<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <main>
        <article class="arriba">
            <div class="check">
                <a href="../?id='fashion'">
                    <img src="../storage/img/back.svg" >
                </a>
                <p class="semibold">Checkout</p>
                <img src="../storage/img/sidebar.svg" >
            </div>
        </article>
        <section class="main__section">
            <article class="añadir">
                
                <div class="sec">
                    <!-- <div class="mm"><img src="../storage/img/img3.png" class="i"></div>
                    <div class="infofoto">
                        <span class="semibold">Modern light clothes</span>
                        <p class="regular">Dress modern</p>
                        <p class="semibold">$212.22</p>
                    </div>
                    <div class="sumres">
                        <div class="trespuntos">
                            <img src="../storage/img/Menupuntos.svg">
                            
                        </div>
                        <div class="seleccion">
                            <img src="../storage/img/Group 3245menos.svg">
                            <span> 4 </span>
                            <img src="../storage/img/Group 3247mas.svg">
                        </div> -->
                    <!-- </div> -->
                </div>
            </article>
        </section>
        <section class="section__Shopping">
            <article class="Shopping__title">
                <h3>Shopping Information</h3>
            </article>
            <article class="section__card">
                <div class="dropdown">
                    <div class="dropdown__button">
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__option">
                            <img src="../storage/img/arrow-down.svg">
                        </div>
                    </div>
                    <div class="dropdown__content">
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                    </div>
                  </div>
            </article>
            <article class="section__bill">
                <!-- <div class="bill__total">
                    <label>Total (9 items)</label>
                    <span>$131.97</span>
                </div>
                <div class="bill__fee">
                    <label>Shipping Fee</label>
                    <span>$.0.00</span>
                </div>
                <div class="bill__subtotal">
                    <label>Sub Total</label>
                    <span>$131.97</span>
                </div> -->
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                <span>Pay</span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>