<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <main> 
    <article class="arriba">
        <div class="check">
            <a href="detail.html">
                <img src="../storage/img/back.svg">
            </a>
            <p class="semibold">Confirmar Pedido</p>
            <img src="../storage/img/sidebar.svg">
        </div>
    </article>
    <section class="main__section">
        <article class="añadir">
            <div class="sec">
                <div class="mm"><img src="../storage/img/sonic.png" class="i"></div>
                <div class="infofoto">
                    <span class="semibold">Sonic</span>
                    <p class="regular">Accion, Aventura</p>
                    <p class="semibold">$40.9</p>
                </div>
                <div class="sumres">
                    <div class="trespuntos">
                        <img src="../storage/img/Menupuntos.svg">
                    </div>
                    <div class="seleccion">
                        <img src="../storage/img/Group 3245menos.svg">
                        <span>4</span>
                        <img src="../storage/img/Group 3247mas.svg">
                    </div>
                </div>
            </div>

            <div class="sec">
                <div class="mm"><img src="../storage/img/switch2.png" class="i"></div>
                <div class="infofoto">
                    <span class="semibold">Switch 2</span>
                    <p class="regular">Familia, Amigos</p>
                    <p class="semibold">$30.99</p>
                </div>
                <div class="sumres">
                    <div class="trespuntos">
                        <img src="../storage/img/Menupuntos.svg">

                    </div>
                    <div class="seleccion">
                        <img src="../storage/img/Group 3245menos.svg">
                        <span> 1 </span>
                        <img src="../storage/img/Group 3247mas.svg">

                    </div>
                </div>
            </div>

            <div class="sec">
                <div class="mm"><img src="../storage/img/mariokart.png" class="i"></div>
                <div class="infofoto">
                    <span class="semibold">Mario kart 8</span>
                    <p class="regular">Carreras, Rol</p>
                    <p class="semibold">$50.99</p>
                </div>
                <div class="sumres">
                    <div class="trespuntos">
                        <img src="../storage/img/Menupuntos.svg">
                    </div>
                    <div class="seleccion">
                        <img src="../storage/img/Group 3245menos.svg">
                        <span> 4 </span>
                        <img src="../storage/img/Group 3247mas.svg">

                    </div>
                </div>
            </div>


        </article>
    </section>
    <section>
        <article class="todo">
            <div class="shipping">
                <h4 class="semibold">Informacion de pago</h4>
            </div>
            <div class="visa">
                <div class="imgn">
                    <img src="../storage/img/visa.svg">
                    <span class="regu">**** **** **** 2143</span>
                </div>
                <div class="flechaabajo">
                    <img src="../storage/img/arrow-down.svg" >
                </div>
            </div>
            <div class="tot">
                <div class="itm">
                    <div class="tot9item">
                        <p class="regu">Total (9 juegos)</p>
                    </div>
                    <div class="num">
                        <span class="semibold">$122.88</span>
                    </div>
                </div>
                <div class="tot9item">
                    <div class="itm">
                        <p class="regu">Impuestos</p>
                    </div>
                    <div class="num">
                        <span class="semibold">$0.00</span>
                    </div>
                </div>
            </div>
            <div class="sub">
                <div class="tot9itemd">
                    <p class="regu">Sub Total</p>
                </div>
                <div>
                    <span class="semibold">$131.97</span>
                </div>
            </div>
        </article>
    </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <span>Pagar</span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>