<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main>
        <section class="main__section">
            <article class="article__producto">
                <div class="producto__imagen">
                    <img src="../storage/img/mariokart.png">
                </div>
                <div class="producto__menu">
                    <a href="../index.html">
                        <img src="../storage/img/back.svg">
                    </a>
                    <img src="../storage/img/heartblack.svg">
                </div>
            </article>
        </section>

        <section class="main__section">
            <article class="article__detail">
                <div class="detail__head">
                    <h1>Mario Kart 8</h1>
                    <div class="producto__select">
                        <img src="../storage/img/minus.svg">
                        <span>1</span>
                        <img src="../storage/img/plus.svg">
                    </div>
                     </div>
                    <div class="detail__score">
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                        <span>5.0</span>
                        <p>(<a href="#">3000 reviews</a>)</p>
                    </div>
            </article>
        </section>

        <section class="main__section">
            <article class="product__info">
                
                <p class="txt">es un videojuego de carreras desarrollado y publicado por Nintendo para la consola Wii U. Es la undécima entrega de la serie Mario Kart, octava en consolas de Nintendo. <b>Leer mas. . .</b> </p> 
            </article>
            <hr>
        </section>

        <section class="main__section">
            <article class="product__custom">
                <div class="product__size">
                    <h5>Escoje Otro</h5>
                    <div class="">
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                    </div>
                </div>
                <div class="product__color">
                    <h5>Color</h5>
                    <div>
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                        <img src="../storage/img/star.svg">
                    </div>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="checkout.html">
                    <img src="../storage/img/shopping-cart.svg">
                    <span>Añadelo al carrito | $50.99 <del><sub>$190.99</sub></del> </span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>